- @bodyid = "index"
- @title = "Rhodes API Reference"

%h1 Rhodes API Reference

:markdown
  Welcome to the Rhodes API Reference!  Browse around the contents on the left or read the tutorials below to get started.  
	
%h2 Community Resources
%ul
  :plain
    <li><a href="http://rhomobile.com/webinars">Webinars and Videos:</a> Webinars and videos with hands-on Rhodes training.</li>
    <li><a href="http://github.com/rhomobile">Rhomobile on GitHub:</a> Source repository where Rhodes and RhoSync are maintained.</li>
    <li><a href="http://groups.google.com/group/rhomobile">Google Group:</a> Rhomobile Google Group for your questions, problems and feedback.</li>
    <li><a href="/releases">Latest Releases:</a> Latest release information and upgrade instructions.</li>
    <li><a href="http://www.apress.com/book/view/9781430228684">Book on Rhomobile Development:</a> This book from APress is available NOW.</li>

These docs are also <a href="http://github.com/rhomobile/rhodes-api-docs">open source</a>, so please fork the project and provide feedback if you want to add content or find errors.

  